
@{

}

<style>
    table, th, td {
        align-self: center;
        border: 1px;
        padding: 10px;
    }

    table {
        align-self: center;
        border-spacing: 15px;
    }

    .a {
        align-self: center;
        height: 27px;
        width: 160px
    }
</style>

@{
    if (IsPost)
    {
        string Transfer = Request.Form["Transfer"];

        <text>
            You entered: <br />
            Phone number: @Transfer <br />
        </text>
    }
}

<h2 align="center">My Transfers</h2>
<hr />
<body>

    <div align="center">
        <form method="post" class="b">
            <fieldset>
                <table>

                    <tr>

                        <br></br>
                        <td><label for="Transfer">@Html.ActionLink("Transfer1", "ToMyAccounts", "Transfers")</label></td>
                        <td><label for="Transfer">USD</label></td>

                    </tr>

                    <tr>

                        <td><label for="Transfer">@Html.ActionLink("Transfer2", "ToMyAccounts", "Transfers")</label></td>
                        <td><label for="Transfer">USD </label></td>

                    </tr>

                    <tr>

                        <td><label for="Transfer">@Html.ActionLink("Transfer3", "ToMyAccounts", "Transfers")</label></td>
                        <td><label for="Transfer">EUR</label></td>

                    </tr>

                    <tr>

                        <td><label for="Transfer">@Html.ActionLink("Transfer4", "ToMyAccounts", "Transfers")</label></td>
                        <td><label for="Transfer">EUR</label></td>

                    </tr>

                    <tr>

                        <td><label for="Transfer">@Html.ActionLink("Transfer5", "ToMyAccounts", "Transfers")</label></td>
                        <td><label for="Transfer">RON</label></td>

                    </tr>
                </table>
            </fieldset>
        </form>

    </div>
</body>
